.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
    &:hover input ~ .checkmark {
        background-color: #ccc;
      }
      input:checked ~ .checkmark {
        background-color: #2196F3;
      }
    &:after {
        content: "";
        position: absolute;
        display: none;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
      .checkmark:after {
        top: 9px;
       left: 9px;
       width: 8px;
       height: 8px;
       border-radius: 50%;
       background: white;
   }
  }

  /* Create a custom radio button */
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .form-check-input{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.2s all linear;
    border: 1px solid #999;
  }

  .form-check-input:checked{
    border: 5px solid rgba(227,12,24,1);
  }

   // dropdownButton

   .css-1vr111p-option,
   .css-1qprcsu-option {
     padding: 8px 25px !important;
     position: relative; 
     background-color: #f5f5f5 !important; 
   }
 
   .css-1vr111p-option input,
   .css-1qprcsu-option input{
     width: 16px;
     height: 16px;
     position: absolute;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     transition: 0.2s all linear;
     background-color: #fff;
     border: 1px solid #000;
     top: 33%;
     left: 4px;
     border-radius: 4px;
   }
   
   .css-1qprcsu-option:after{
     content: '';
     display: block;
     position: absolute;
     top: 50%;
     left: 9px;
     width: 6px;
     height: 14px;
     border: solid red;
     border-width: 0 3px 3px 0;
     transform: translateY(-50%) rotate(45deg);
   }
 
   .css-1vr111p-option:hover,
   .css-1qprcsu-option:hover{
     background-color: rgb(244, 177, 185) !important;
   }
   
   .css-1pcexqc-container {
     background-color: rgb(247, 247, 247);
   }
 
   .css-11unzgr{
     border: 1px solid rgb(155, 155, 155);
     border-bottom-left-radius: 4px;
     border-bottom-right-radius: 4px;
   }

   //datetimePicker

   .react-datepicker__day--keyboard-selected, 
   .react-datepicker__quarter-text--keyboard-selected, 
   .react-datepicker__year-text--keyboard-selected{
    border-radius: 0.3rem;
    background-color: red !important;
    color: #fff !important;
   }

   .react-datepicker__day--selected, 
   .react-datepicker__day--in-selecting-range, 
   .react-datepicker__day--in-range, 
   .react-datepicker__month-text--selected, 
   .react-datepicker__month-text--in-selecting-range, 
   .react-datepicker__month-text--in-range, 
   .react-datepicker__quarter-text--selected, 
   .react-datepicker__quarter-text--in-selecting-range, 
   .react-datepicker__quarter-text--in-range, 
   .react-datepicker__year-text--selected, 
   .react-datepicker__year-text--in-selecting-range, 
   .react-datepicker__year-text--in-range{
    border-radius: 0.3rem;
    background-color: red;
    color: #fff !important;
   }

  .react-datepicker__day--today{
    color: red;
  }

  .react-datepicker__day--selected:hover{
    background-color: rgb(192, 0, 0) !important;
  }