.date-picker-wrapper{
    .react-datepicker-wrapper{
        width: 100%;
        .react-datepicker__input-container{
            input {
                border: none !important;
                outline: none;
            }
        }
    }
}